CREATE FUNCTION POS(@TORNEO INT, @EQUIPO INT) RETURNS INT AS
BEGIN
DECLARE @POSI INT
SET @POSI=0

DECLARE POSICIONES CURSOR
FOR
SELECT EQUIPO--, SUM(PUNTOS) AS PFINAL
FROM MODELO_PRACTICA.DBO.PUNTOS_PARTIDO
WHERE PART_TORNEO=@TORNEO
GROUP BY EQUIPO
ORDER BY SUM(PUNTOS) DESC


DECLARE @EQ INT
OPEN POSICIONES 

FETCH POSICIONES INTO @EQ

WHILE @@FETCH_STATUS=0
 BEGIN
 SET @POSI=@POSI+1
 IF @EQ=@EQUIPO BREAK
 FETCH POSICIONES INTO @EQ
 END
 
CLOSE POSICIONES
DEALLOCATE POSICIONES
 
RETURN @POSI

END